<div class="container">
  <div class="card row col-12 col-sm-6 offset-sm-3 ">
  <h1 class="text-center mb-3">PassWord Generator</h1>
  <div >
      <div class="form-group ">
        <label for="userlength" >Enter Length</label>
        <input type="text" id="userlength" (input)="onChangeLength($event.target.value)" class="form-control ">
      </div>

      <div class="form-check mb-2 ">
        <input type="checkbox" class="form-check-input " id="exampleCheck1" (change)="onChangeUseLetters()">
        <label class="form-check-label" for="exampleCheck1">Use Letters</label>
      </div>
      
      <div class="form-check mb-2">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="onChangeUseNumbers()">
        <label class="form-check-label" for="exampleCheck1">Use Numbers</label>
      </div>
      <div class="form-check mb-2">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="onChangeUseSymbols()">
        <label class="form-check-label" for="exampleCheck1">Use Symbols</label>
      </div>
      
      <div class="form-group mb-2">
        <button 
        class="btn  btn-primary  btn-block"
        (click)="onButtonClick()"
        [disabled]="! (length && (includeLetters || includeNumbers || includeSymbols))"
        >
        Generate!
        </button>
      </div>
      <div class="form-group " *ngIf="password">
        <label for="password" >Your Password</label>
        <input type="text" id="password" [value]="password" class="form-control ">
      </div>
  </div>
</div>
</div>