/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

.card {
 padding: 10px;
 border: 1px solid black;
 box-shadow: 5px 5px black ;
 background-color: aliceblue;
}